apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP

          env:
            - name: PORT
              value: "{{ .Values.service.port }}"

            # ---- MongoDB ----
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: mintify-shared-secret
                  key: MONGODB_URI

            - name: MONGODB_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mintify-shared-secret
                  key: MONGODB_DB_NAME

            # ---- RabbitMQ ----
            - name: RABBITMQ_URL
              valueFrom:
                secretKeyRef:
                  name: mintify-shared-secret
                  key: RABBITMQ_URL

            - name: RABBITMQ_EXCHANGE
              valueFrom:
                secretKeyRef:
                  name: mintify-shared-secret
                  key: RABBITMQ_EXCHANGE

            - name: RABBITMQ_QUEUE
              value: "{{ .Values.env.rabbitmqQueue }}"
